<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check out Step 3</title>

    <!-- Gloabl stylesheets starts -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/Responsive.css">
    <link rel="stylesheet" href="assets/plugins/font-awsome/all.min.css">
    <!-- Gloabl stylesheets close -->
</head>

<body>

    <!-- Header Section starts -->
    <section class="Header-section">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo/png2.png" alt="">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Enrollment</a></li>
                        <li><a href="#">Gallery</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <!-- Header Section Close -->


    <!-- Breadcrumb Section starts -->
    <section class="Breadcrumb-section">
        <div class="container">
            <div class="section-heading">
                <h1>Checkout Step 3</h1>
            </div>
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Checkout Step 3</a></li>
            </ul>
        </div>
    </section>
    <!-- Breadcrumb Section close -->

    <!-- Checkout Section Steps starst -->
    <section class="checkout-steps">
        <div class="container">
            <div class="step-line">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="check-out-step-container">
                            <a href="Checkout-setup-1.html">
                                <span><i class="fa fa-user-tie"></i></span>
                                <p>Personal Info</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="check-out-step-container  checkout-step-2">
                            <a href="Checkout-setup-2.html">
                                <span><i class="fa fa-donate"></i></span>
                                <p>Payment Methode</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="check-out-step-container checkout-step-2">
                            <a href="Checkout-setup-3.html">
                                <span><i class="fa fa-check-circle"></i></span>
                                <p>Confirmation</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkout Section Steps close -->

    <!-- contact us section starts -->
    <section class="contact-us-section">
        <div class="container">
            <div class="section-heading">
                <h1>CArd info</h1>
            </div>
            <div class="row">
                <!-- Contact Form -->
                <div class="col-sm-12">
                    <div class="contact-form">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition.</p>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

                        <div class="Payment-ID">
                            <h2>
                                Payment id :
                                <span>#123456335</span>
                            </h2>
                            <h2>
                                total:
                                <span>$69</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact us section close -





    <!-- Global scripts starts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Global scripts close -->
</body>

</html>
