<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Child Details</title>

    <!-- Gloabl stylesheets starts -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/Responsive.css">
    <link rel="stylesheet" href="assets/plugins/font-awsome/all.min.css">
    <!-- Gloabl stylesheets close -->
</head>

<body>

    <!-- Header Section starts -->
    <section class="Header-section">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo/png2.png" alt="">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Enrollment</a></li>
                        <li><a href="#">Gallery</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <!-- Header Section Close -->


    <!-- Breadcrumb Section starts -->
    <section class="Breadcrumb-section">
        <div class="container">
            <div class="section-heading">
                <h1>child details</h1>
            </div>
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">child details</a></li>
            </ul>
        </div>
    </section>
    <!-- Breadcrumb Section close -->

    <!-- Child Details Section starts -->
    <section class="childs-details-section">
        <div class="container">
            <div class="row">
                <!-- Child Profile -->
                <div class="col-sm-4">
                    <div class="our-service-container">
                        <div class="service-img">
                            <img src="assets/images/services/1.jpg" alt="">
                        </div>
                        <div class="service-titles">
                            <h2>Child 1</h2>
                            <div class="triangle"></div>
                        </div>
                        <div class="service-description">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                        <div class="service-ratings">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="service-button">
                            <a href="#"> Read More </a>
                        </div>
                    </div>
                </div>
                <!-- Childs Details -->
                <div class="col-sm-8">
                    <div class="child-details-container">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <th><span>Time <i class="fa fa-stopwatch"></i></span></th>
                                    <th><span>MONDAY</span></th>
                                    <th><span>TUESDAY</span></th>
                                    <th><span>WEDNESDAY</span></th>
                                    <th><span>THURSDAY</span></th>
                                    <th><span>FRIDAY</span></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span>9.00-10.00 AM</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 1</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 1</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 1</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 1</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 1</span></td>
                                    </tr>
                                    <!-- AcT 2 -->
                                    <tr>
                                        <td><span>9.00-10.00 AM</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 2</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 2</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 2</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 2</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 2</span></td>
                                    </tr>
                                    <!-- ACT 3 -->
                                    <tr>
                                        <td><span>9.00-10.00 AM</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 3</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 3</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 3</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 3</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 3</span></td>
                                    </tr>
                                    <!-- ACT 4 -->
                                    <tr>
                                        <td><span>9.00-10.00 AM</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 4</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 4</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 4</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 4</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 4</span></td>
                                    </tr>
                                    <!-- ACT 5 -->
                                    <tr>
                                        <td><span>9.00-10.00 AM</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 5</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 5</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 5</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 5</span></td>
                                        <td><span data-toggle="modal" data-target="#myModal">Activity 5</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="food-button">
                            <a href="Foods.html"  class="Re-usable-button">buy Food</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Child Details Section Close -->


    <!-- Table Modals Popups -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Activity Details</h4>
                </div>
                <div class="modal-body">
                    <div class="service-img">
                        <img src="assets/images/services/1.jpg" alt="">
                    </div>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="style-1" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Table Modals Popups -->


    <!-- Global scripts starts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Global scripts close -->
</body>

</html>
