<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>

    <!-- Gloabl stylesheets starts -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/Responsive.css">
    <link rel="stylesheet" href="assets/plugins/font-awsome/all.min.css">
    <!-- Gloabl stylesheets close -->
</head>

<body>

    <!-- Header Section starts -->
    <section class="Header-section">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo/png2.png" alt="">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Enrollment</a></li>
                        <li><a href="#">Gallery</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <!-- Header Section Close -->


    <!-- Our Feature Section starts -->
    <section class="our-feature-section">
        <div class="section-heading">
            <h1>Contact Us</h1>
        </div>
        <div class="container">
            <div class="row">
                <!-- 1 -->
                <div class="col-sm-4">
                    <div class="feature-container">
                        <div class="feature-icon">
                            <span><i class="fa fa-mobile-alt"></i></span>
                        </div>
                        <div class="feature-description">
                            <h2>phone</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <div class="col-sm-4">
                    <div class="feature-container">
                        <div class="feature-icon">
                            <span><i class="fa fa-envelope-open-text"></i></span>
                        </div>
                        <div class="feature-description">
                            <h2>Email</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <!-- 3 -->
                <div class="col-sm-4">
                    <div class="feature-container">
                        <div class="feature-icon">
                            <span><i class="fa fa-map-marker-alt"></i></span>
                        </div>
                        <div class="feature-description">
                            <h2>address</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Feature Section Clsoe -->


    <!-- contact us section starts -->
    <section class="contact-us-section">
        <div class="container">
            <div class="section-heading">
                <h1>contact us</h1>
            </div>
            <div class="row">
                <!-- Contact Form -->
                <div class="col-sm-12">
                    <div class="contact-form">

                        <form action="">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">email</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">email</label>
                                        <textarea cols="30" rows="10" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-button">
                                <a href="" class="Re-usable-button">Contatc</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact us section close -->


    <!-- Global scripts starts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Global scripts close -->
</body>

</html>
