<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foods HTML</title>

    <!-- Gloabl stylesheets starts -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/Responsive.css">
    <link rel="stylesheet" href="assets/plugins/font-awsome/all.min.css">
    <!-- Gloabl stylesheets close -->
</head>

<body>

    <!-- Header Section starts -->
    <section class="Header-section">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo/png2.png" alt="">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Enrollment</a></li>
                        <li><a href="#">Gallery</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <!-- Header Section Close -->


    <!-- Breadcrumb Section starts -->
    <section class="Breadcrumb-section">
        <div class="container">
            <div class="section-heading">
                <h1>our foods</h1>
            </div>
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">service details</a></li>
            </ul>
        </div>
    </section>
    <!-- Breadcrumb Section close -->

    <!-- Our food section starts  -->
    <section class="our-services-section">
        <div class="container">
            <div class="section-heading">
                <h1>Our Foods</h1>
            </div>
            <div class="Filter-Buttons button-group filter-button-group">
                <button data-filter="*" class="style-1">All</button>
                <button data-filter=".FastFood" class="style-1">Fast Food</button>
                <button data-filter=".SimpleFood" class="style-1">Simple Food</button>
                <button data-filter=".Vegiterian" class="style-1">Vegiterian</button>
                <button data-filter=".Non-Veg" class="style-1">Non-Veg</button>
            </div>
            <div class="row  grid">
                <!-- 1 -->
                <div class="col-sm-4  element-item  FastFood">
                    <div class="our-service-container">
                        <div class="service-img">
                            <img src="assets/images/Foods/1.jpg" alt="">
                        </div>
                        <div class="service-titles">
                            <h2>food 1</h2>
                            <div class="triangle"></div>
                        </div>
                        <div class="service-description">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                        <div class="service-ratings">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="service-button">
                            <a href="#"> Read More </a>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <div class="col-sm-4 element-item  SimpleFood">
                    <div class="our-service-container">
                        <div class="service-img">
                            <img src="assets/images/Foods/2.jpg" alt="">
                        </div>
                        <div class="service-titles">
                            <h2>food 2</h2>
                            <div class="triangle"></div>
                        </div>
                        <div class="service-description">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                        <div class="service-ratings">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="service-button">
                            <a href="#"> Read More </a>
                        </div>
                    </div>
                </div>
                <!-- 3 -->
                <div class="col-sm-4 element-item  Vegiterian">
                    <div class="our-service-container">
                        <div class="service-img">
                            <img src="assets/images/Foods/3.jpg" alt="">
                        </div>
                        <div class="service-titles">
                            <h2>food 3</h2>
                            <div class="triangle"></div>
                        </div>
                        <div class="service-description">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                        <div class="service-ratings">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="service-button">
                            <a href="#"> Read More </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Our food section close  -->





    <!-- Global scripts starts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Global scripts close -->

    <!-- Filter script -->
    <script src="assets/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script>
        // init Isotope
        var $grid = $('.grid').isotope({
            // options
        });
        // filter items on button click
        $('.filter-button-group').on('click', 'button', function() {
            var filterValue = $(this).attr('data-filter');
            $grid.isotope({
                filter: filterValue
            });
        });

    </script>
</body>

</html>
