

    <!-- Our Feature Section starts -->
    <section class="our-feature-section">
        <div class="section-heading">
            <h1>Our Features</h1>
        </div>
        <div class="container">
            <div class="row">
                <!-- 1 -->
                <div class="col-sm-4">
                    <div class="feature-container">
                        <div class="feature-icon">
                            <span><i class="fa fa-graduation-cap"></i></span>
                        </div>
                        <div class="feature-description">
                            <h2>Experienced Teachers</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <div class="col-sm-4">
                    <div class="feature-container">
                        <div class="feature-icon">
                            <span><i class="fa fa-chart-bar"></i></span>
                        </div>
                        <div class="feature-description">
                            <h2>Physical Activity</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <!-- 3 -->
                <div class="col-sm-4">
                    <div class="feature-container">
                        <div class="feature-icon">
                            <span><i class="fa fa-car"></i></span>
                        </div>
                        <div class="feature-description">
                            <h2>Transportation</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <!-- 4 -->

                <div class="clearfix"></div>

                <div class="col-sm-4">
                    <div class="feature-container">
                        <div class="feature-icon">
                            <span><i class="fa fa-utensils"></i></span>
                        </div>
                        <div class="feature-description">
                            <h2>Delicious Food</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <!-- 5 -->
                <div class="col-sm-4">
                    <div class="feature-container">
                        <div class="feature-icon">
                            <span><i class="fa fa-heart"></i></span>
                        </div>
                        <div class="feature-description">
                            <h2>Love & Care</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <!-- 6 -->
                <div class="col-sm-4">
                    <div class="feature-container">
                        <div class="feature-icon">
                            <span><i class="fa fa-futbol"></i></span>
                        </div>
                        <div class="feature-description">
                            <h2>Annual Sports</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>

                <div class="clear-fix"></div>
            </div>
        </div>
    </section>
    <!-- Our Feature Section Clsoe -->

    <!-- Our Service section starts  -->
    <section class="our-services-section">
        <div class="container">
            <div class="section-heading">
                <h1>Our services</h1>
            </div>
            <div class="row">
                <!-- 1 -->
                <div class="col-sm-4">
                    <div class="our-service-container">
                        <div class="service-img">
                            <img src="assets/images/services/1.jpg" alt="">
                        </div>
                        <div class="service-titles">
                            <h2>Service 1</h2>
                            <div class="triangle"></div>
                        </div>
                        <div class="service-description">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                        <div class="service-ratings">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="service-button">
                            <a href="#"> Read More </a>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <div class="col-sm-4">
                    <div class="our-service-container">
                        <div class="service-img">
                            <img src="assets/images/services/1.jpg" alt="">
                        </div>
                        <div class="service-titles">
                            <h2>Service 2</h2>
                            <div class="triangle"></div>
                        </div>
                        <div class="service-description">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                        <div class="service-ratings">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="service-button">
                            <a href="#"> Read More </a>
                        </div>
                    </div>
                </div>
                <!-- 3 -->
                <div class="col-sm-4">
                    <div class="our-service-container">
                        <div class="service-img">
                            <img src="assets/images/services/1.jpg" alt="">
                        </div>
                        <div class="service-titles">
                            <h2>Service 3</h2>
                            <div class="triangle"></div>
                        </div>
                        <div class="service-description">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                        <div class="service-ratings">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="service-button">
                            <a href="#"> Read More </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Our Service section close  -->
