<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>

    <!-- Gloabl stylesheets starts -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/Responsive.css">
    <link rel="stylesheet" href="assets/plugins/font-awsome/all.min.css">
    <!-- Gloabl stylesheets close -->
</head>

<body>

    <!-- Header Section starts -->
    <section class="Header-section">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo/png2.png" alt="">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Enrollment</a></li>
                        <li><a href="#">Gallery</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <!-- Header Section Close -->

    <!-- Teacher Details section start -->
    <section class="teacher-details-section services-Lisst-section">
        <div class="container">
            <div class="teacher-detail service-list-container">
                <div class="row Flexii">
                    <!-- teacher-image -->
                    <div class="col-sm-5">
                        <div class="teacher-image">
                            <img src="assets/images/staff/teacher-det.jpg_fit=scale" alt="">
                        </div>
                    </div>
                    <!-- teacher deatails -->
                    <div class="col-sm-7">
                        <div class="teacher-detail-container">
                            <h2>service 1</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

                            <div class="follow-us">
                                <ul>
                                    <li><a href="#"><span><i class="fab fa-facebook-f"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-instagram"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-twitter"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-youtube"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-linkedin"></i></span></a></li>
                                </ul>
                            </div>
                            <div class="learn-more">
                                <a href="#" class="Re-usable-button">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- service 2 -->
            <div class="teacher-detail service-list-container">
                <div class="row Flexii">
                    <!-- teacher-image -->
                    <div class="col-sm-5">
                        <div class="teacher-image">
                            <img src="assets/images/staff/teacher-det.jpg_fit=scale" alt="">
                        </div>
                    </div>
                    <!-- teacher deatails -->
                    <div class="col-sm-7">
                        <div class="teacher-detail-container">
                            <h2>service 2</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

                            <div class="follow-us">
                                <ul>
                                    <li><a href="#"><span><i class="fab fa-facebook-f"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-instagram"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-twitter"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-youtube"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-linkedin"></i></span></a></li>
                                </ul>
                            </div>
                            <div class="learn-more">
                                <a href="#" class="Re-usable-button">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- service 3 -->
            <div class="teacher-detail service-list-container">
                <div class="row Flexii">
                    <!-- teacher-image -->
                    <div class="col-sm-5">
                        <div class="teacher-image">
                            <img src="assets/images/staff/teacher-det.jpg_fit=scale" alt="">
                        </div>
                    </div>
                    <!-- teacher deatails -->
                    <div class="col-sm-7">
                        <div class="teacher-detail-container">
                            <h2>service 3</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

                            <div class="follow-us">
                                <ul>
                                    <li><a href="#"><span><i class="fab fa-facebook-f"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-instagram"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-twitter"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-youtube"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-linkedin"></i></span></a></li>
                                </ul>
                            </div>
                            <div class="learn-more">
                                <a href="#" class="Re-usable-button">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="service-Pagination">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Teacher Details section start -->





    <!-- Global scripts starts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Global scripts close -->
</body>

</html>
