<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Details</title>

    <!-- Gloabl stylesheets starts -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/Responsive.css">
    <link rel="stylesheet" href="assets/plugins/font-awsome/all.min.css">
    <!-- Gloabl stylesheets close -->
</head>

<body>

    <!-- Header Section starts -->
    <section class="Header-section">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo/png2.png" alt="">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Enrollment</a></li>
                        <li><a href="#">Gallery</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <!-- Header Section Close -->

    <!-- Breadcrumb Section starts -->
    <section class="Breadcrumb-section">
        <div class="container">
            <div class="section-heading">
                <h1>meet our staff</h1>
            </div>
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pictures</a></li>
            </ul>
        </div>
    </section>
    <!-- Breadcrumb Section close -->

    <!-- Teacher Details section start -->
    <section class="teacher-details-section">
        <div class="container">
            <div class="section-heading">
                <h1>meet our staff</h1>
            </div>
            <div class="teacher-detail">
                <div class="row Flexii">
                    <!-- teacher-image -->
                    <div class="col-sm-5">
                        <div class="teacher-image">
                            <img src="assets/images/staff/teacher-det.jpg_fit=scale" alt="">
                        </div>
                    </div>
                    <!-- teacher deatails -->
                    <div class="col-sm-7">
                        <div class="teacher-detail-container">
                            <h2>About me</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

                            <div class="follow-us">
                                <ul>
                                    <li><a href="#"><span><i class="fab fa-facebook-f"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-instagram"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-twitter"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-youtube"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-linkedin"></i></span></a></li>
                                </ul>
                            </div>
                            <div class="learn-more">
                                <a href="#" class="Re-usable-button">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Teacher Info Table -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="teavher-table">
                        <h2>Teacher Information</h2>
                        <div class="table-responsive teacher-info-table">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Designation</th>
                                    </tr>
                                    <tr>
                                        <td>Assistent Teacher</td>

                                    </tr>
                                    <tr>
                                        <th>DEGREE</th>
                                    </tr>
                                    <tr>
                                        <td>English Literature</td>
                                    </tr>
                                    <tr>
                                        <th>EXPERINCE</th>
                                    </tr>
                                    <tr>
                                        <td>10 Years In Preschool Education</td>
                                    </tr>
                                    <tr>
                                        <th>HOBBIES</th>
                                    </tr>
                                    <tr>
                                        <td>Music, Dancing And Playing Football</td>
                                    </tr>
                                    <tr>
                                        <th>MY COURSE</th>
                                    </tr>
                                    <tr>
                                        <td>Language, Grammer</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Teacher Details section start -->





    <!-- Global scripts starts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Global scripts close -->
</body>

</html>
