<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view CArt</title>

    <!-- Gloabl stylesheets starts -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/Responsive.css">
    <link rel="stylesheet" href="assets/plugins/font-awsome/all.min.css">
    <!-- Gloabl stylesheets close -->
</head>

<body>

    <!-- Header Section starts -->
    <section class="Header-section">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo/png2.png" alt="">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Enrollment</a></li>
                        <li><a href="#">Gallery</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <!-- Header Section Close -->


    <!-- Breadcrumb Section starts -->
    <section class="Breadcrumb-section">
        <div class="container">
            <div class="section-heading">
                <h1>cart details</h1>
            </div>
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">cart details</a></li>
            </ul>
        </div>
    </section>
    <!-- Breadcrumb Section close -->

    <!-- Section CArt Details starts -->
    <section class="cart-details-section">
        <div class="container">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <!-- HEading -->
                        <tr class="background">
                            <th>PRODUCT NAME</th>
                            <th>PRICE</th>
                            <th>QUANTITY</th>
                            <th>TOTAL</th>
                        </tr>
                        <!-- cart products -->
                        <tr>
                            <td>
                                <div class="product-details">
                                    <div class="pro-img">
                                        <img src="assets/images/Foods/1.jpg" alt="">
                                    </div>
                                    <div class="pro-titles">
                                        <p>Italian Winter Hat</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="tdCols">
                                    <p>$690.00</p>
                                </div>
                            </td>
                            <td>
                                <div class="tdCols">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                            <td>
                                <div class="tdCols">
                                    <p>$690.00</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-details">
                                    <div class="pro-img">
                                        <img src="assets/images/Foods/1.jpg" alt="">
                                    </div>
                                    <div class="pro-titles">
                                        <p>Italian Winter Hat</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="tdCols">
                                    <p>$690.00</p>
                                </div>
                            </td>
                            <td>
                                <div class="tdCols">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                            <td>
                                <div class="tdCols">
                                    <p>$690.00</p>
                                </div>
                            </td>
                        </tr>
                        <!-- Coupens -->
                        <tr>
                            <td colspan="4">
                                <div class="coupens">
                                    <div class="tdCols-coupen">
                                        <input type="text" class="form-control">
                                        <button class="style-1">Apply Coupen</button>
                                    </div>
                                    <div class="update-cart">
                                        <button class="style-1">update cart</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </section>
    <!-- Section CArt Details close -->
    
    
    <!-- Section CArt Details starts -->
    <section class="cart-details-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <!-- HEading -->
                                <tr class="background">
                                    <th colspan="2"> CART TOTAL</th>
                                </tr>
                                <!-- cart products -->
                                <tr>
                                    <td>
                                        <p>total</p>
                                    </td>
                                    <td>
                                        <p>$19.00</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>UK Vat</p>
                                    </td>
                                    <td>
                                        <p>$19.00</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Grand Total</p>
                                    </td>
                                    <td>
                                        <p>$19.00</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="button-check">
                                            <a href="Checkout-setup-1.html" class="Re-usable-button ">Checkout <i class="fa fa-arrow-alt-circle-right"></i> </a>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section CArt Details close -->




    <!-- Global scripts starts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Global scripts close -->
</body>

</html>
f